.EditRestaurant {
  // Override Time Range component
  .input-range__slider {
    background-color: #ff6b34;
    border-color: #ff6b34;
  }

  .input-range__track--active {
    background-color: #ff6b34;
  }

  .upload__image-wrapper {
    padding-top: 7px;
    padding-bottom: 18px;
  }

  .upload-cover-img {
    margin-bottom: 20px;
  }

  .upload-label {
    height: 27px;
    width: fit-content;
    display: block;
    color: rgba(33, 33, 33, 0.7);
    margin-bottom: -11px;
    margin-left: 13px;
    background-color: white;
  }
}
