.DriverRegister {
  .upload-img-label {
    font-size: 90%;
    color: rgba(33, 33, 33, 0.7);
    margin-left: 12px;
  }

  .upload__image-wrapper {
    min-height: 55px;
  }

  .img-upload-container {
    margin-bottom: 18px;
  }
}
