.restaurant-container {
  margin-top: 10%;
  height: 100%;

  .restaurant-wrapper {
    max-height: 400px;
    overflow: scroll;
    // margin: 0 20px;
    margin-bottom: 20px;
    padding: 0;
    width: 100%;
    background-color: white;
  }

  a {
    &:hover {
      color: initial;
    }
  }

  .check-icon {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    border: 8px solid #b7cdfa;
    position: absolute;
    right: 20px;
    top: 10px;

    i {
      font-size: 40px;
      color: #4982f3;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.restaurant.fixed-background {
  background: url('/assets/img/foodlife.jpg') no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0.8;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.restaurant.image-side {
  background: url('/assets/img/foodlife.jpg') no-repeat center top;
}

.restaurant-card {
  // max-width: 80%;
  margin: 0 auto;
  margin-bottom: 14px;
  box-shadow: 0 1px 15px rgb(0 0 0 / 10%), 0 1px 6px rgb(0 0 0 / 10%);
  // cursor: pointer;
  span {
    font-size: 0.9rem;
  }

  p {
    margin: 0;
  }

  .card-body {
    // display: none;
  }

  .avatar img {
    margin: 0 auto;
    display: block;
    height: 150px;
    max-width: 150px;
    // border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    box-shadow: 0 1px 15px rgb(0 0 0 / 4%), 0 1px 6px rgb(0 0 0 / 4%);
  }

  .title {
    font-size: 1.2rem;
    font-weight: 700;
  }

  .address,
  .phone {
    span:first-child {
      font-weight: 700;
    }
  }

  .status {
    font-weight: 700;
    color: orange;

    svg path {
      fill: purple;
    }
  }
}
