.OrderStatusChartCard {
  $red: #e7523e;
  $blue: rgb(0, 191, 250);
  $purple: #d228ff;

  .card-title {
    margin-bottom: 0;
  }

  .select-group-control {
    display: flex;
    margin-left: auto;
    width: 100%;
    margin-bottom: 10px;

    .select-week-day {
      margin-left: auto;
      width: 100px;
    }

    .select-month {
      // margin-left: 15px;
      width: 100px;
      margin-left: auto;
    }

    .my-select__indicator-separator {
      display: none;
    }

    .my-select__control {
      border-color: $purple;
      border-radius: 50px;
      outline: none !important;
      box-shadow: none !important;
    }

    .my-select__single-value {
      color: $purple;
    }

    .my-select__indicator {
      color: $purple;
      padding: 0;
      padding-right: 10px;
    }
  }
}
