.flex-col {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.text-red {
  color: rgb(253, 48, 48);
}

.my-button {
  width: fit-content;
  padding: 5px 10px;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-space-around {
  justify-content: space-around;
}

.opacity-0 {
  opacity: 0;
}

.opacity-05 {
  opacity: 0.5;
}

.opacity-07 {
  opacity: 0.7;
}

.opacity-1 {
  opacity: 1;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

.select__menu {
  // display: none;
  z-index: 100 !important;
}

.thumb-image {
  // width: 85px;
  // height: 85px;
  object-fit: cover;
}

.data-list-img {
  object-fit: cover;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.chart-container {
  .chart-loading {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 2px solid rgba($theme-color-1, 0.2);
    border-radius: 50%;
    border-top-color: $theme-color-1;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
    // left: calc(50% - 15px);
    // top: calc(50% - 15px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 1;
  }

  @keyframes spin {
    to {
      -webkit-transform: translate(-50%, -50%) rotate(360deg);
    }
  }

  @-webkit-keyframes spin {
    to {
      -webkit-transform: translate(-50%, -50%) rotate(360deg);
    }
  }
}
