.fixed-background.merchant {
  background: url('/assets/img/foodlife.jpg') no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0.8;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
